
.operazioni{
    width: 100%;

}

.operazioni ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.operazioni ul li{
    list-style: none;



}

.operazioni ul li button{
    text-decoration: none;
    color: black;
    font-family: Intel;

    height: 50px;
    width: 150px;
    background-color: white;
    color: #35908B;
    border: 1px solid #35908B;
}


#attivo{
    background-color: #35908B;
    color: white;
}

#FormNavbar{
	margin-top: 20px;
	margin-bottom:50px;
}

.form-container{
	padding:2%;
	display:flex;
	justify-content:center;
	padding-bottom: 1px;
	margin-left: 15%;
	margin-right:15%;
	background-color:#B7DDDB;
}

.vista-form{
	width:100%;
	margin-left: 5%;
	margin-right:5%;
	
}

.vista-form table{
	border-radius:5px;
	border-collapse: separate;
    border-spacing: 0px 1px;
}
.vista-form td{
	border: 0.5px solid #35908B;
	width: 400px;
	height: 55px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	font-size: 18px;
}

.DettagliButton{
	background: #35908B;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:white;
    box-sizing: border-box;
    width: 126px;
    height: 28px;
   
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
}



