body{
    position: relative;
    width: 1280px;
    height: 832px;
    background: #E7FDFE;
}

.heading{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:0 auto;
}

.heading h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 28px;
    color: #35908B;
}
