*{
    font-family: 'Inter';

}


body{

  	margin:0 auto;
    background: #E7FDFE;
}


.logo{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

#logo-container{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 5%;
	margin-bottom: 2%;
}

#labelaccount{
	position:relative;
	top:10%;
	border-bottom:5px;
    text-align: center;
    color: white;

}



.login{
	background: #B7DDDB;
    border-radius: 45px;
    width:550px;
    height:300px;
    margin: auto auto;
	
 

}
.login div{
	margin-bottom:10px;
    align-items: center;
 
 }
.LoginInformation{
	width:65%;
	margin-right:auto;
    margin-left: auto;
    margin-top: 18%;
}


.LoginInformation .email{
	text-indent: 10px;
    width: 90%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #35908B;


}

.LoginInformation .password{
	margin-top:3%;
	text-indent: 10px;
   	width: 90%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #35908B;

}

.passwordDimenticata{
    margin: 0 auto;
  
}

.passwordDimenticata a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

.pulsanteAccedi{
	display: flex;  
    justify-content: space-around;
   
}


.pulsanteAccedi button{
    background: #35908B;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:white;
    box-sizing: border-box;
    width: 126px;
    height: 28px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;

   
}

.iscriviti{
    display: flex;
    justify-content: center;
    
  
}

#noaccount{
    color:#35908B;
    margin-right: 13px;
   
}

#iscriviti{
    background: #B7DDDB;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:#35908B;
    box-sizing: border-box;
    width: 60px;
    height: 28px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Arial';
    font-style: normal;

}