*{
    font-family: 'Inter';

}


body{

    position: relative;
    width: 1280px;
    height: 832px;
    background: #E7FDFE;
}


.logo{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 560px;
    top: 10px;
    border-radius: 100%;
}


#labelaccount{
    text-align: center;
    color: white;

}



.login{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 400px;
    top: 216px;
    background: #B7DDDB;
    border-radius: 45px;

 

}
.login, div{
  
    padding: 0.6rem;
    align-items: center;
 
 }
.LoginInformation{
 /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    width:440px;
    height: 150px;
    margin:0 auto;
}


.LoginInformation .email{
	text-indent: 10px;
    width: 400px;
    height: 28px;
    border-radius: 30px;
    border: 1px solid #35908B;


}

.LoginInformation .password{
	text-indent: 10px;
    width: 400px;
    height: 28px;
    border-radius: 30px;
    border: 1px solid #35908B;

}

.passwordDimenticata{
    margin: 0 auto;
  
}

.passwordDimenticata a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.pulsanteAccedi{
	display: flex;  
    justify-content: space-around;
   
}


.pulsanteAccedi button{
    background: #35908B;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:white;
    box-sizing: border-box;
    width: 126px;
    height: 28px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;

   
}

.iscriviti{
    display: flex;
    justify-content: center;
    
  
}

#noaccount{
    color:#35908B;
    margin-right: 13px;
   
}

#iscriviti{
    background: #B7DDDB;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:#35908B;
    box-sizing: border-box;
    width: 60px;
    height: 28px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Arial';
    font-style: normal;

}