body{
	font-family: inter;
}

#FormNavbar{
	margin-top: 20px;
}

#OpenedClosedForms{
	padding-top:20px;
	font-size :0px;
	position: relative;
  	width: 300px;
  	height: 120px;
  	z-index: 15;
  	left: 50%;
  	top: 30%;
  	margin: 20px 0 0 -150px;
}

#OpenedFormButton{
	color: white;
	font-size: 18px;
	padding: 10px;
	border-radius: 45px 0px 0px 45px;
	background-color: #35908B;
	border-width: 0px;
	width: 150px;
}

#ClosedFormButton{
	font-size: 18px;
	padding: 10px;
	border-radius: 0px 45px 45px 0px;
	background-color: #B7DDDB;
	border-width: 0px;
	color: black;
	width: 150px;
}

#Forms{
	padding:2%;
	border-radius:35px;
	border:none;
	padding-bottom: 5px;
	margin-left: 15%;
	margin-right:15%;
	background-color:#B7DDDB;
}


#OpenedForms{
	display:flex;
	justify-content:center;
	padding-bottom: 5px;
	border-radius:50%;
	margin-left: 3%;
	margin-right:3%;
	background-color:#B7DDDB;
}

#ClosedForms{
	display:flex;
	justify-content:center;
	padding-bottom: 5px;
	border-radius:50%;
	margin-left: 3%;
	margin-right:3%;
	background-color:#B7DDDB;
	display:none;
}

#OpenedForms table{
	margin:10px;
	border-collapse: separate;
    border-spacing: 0 8px;

}

#ClosedForms table{
	margin:10px;
	border-collapse: separate;
    border-spacing: 0 8px;

}

#OpenedForms td{
	border: 0.5px solid #35908B;
	width: 400px;
	height: 50px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	font-size: 18px;
}

#ClosedForms td{
	border: 0.5px solid #35908B;
	width: 400px;
	height: 50px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	font-size: 18px;
}


.DettagliButton{
	background: #35908B;
    border: 1px solid #35908B;
    border-radius: 45px;
    color:white;
    box-sizing: border-box;
    width: 126px;
    height: 28px;
   
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
}

.errorMessage{
	text-align:center;
	margin-top: 1%;
	font-weight:bold;
	font-size: 20px;
	color:red;
}